<template>
  <div class="header-bar">
    <div class="header-bar__left">
      <v-app-bar-nav-icon @click.stop="changeDrawerState"></v-app-bar-nav-icon>
      <img
        :src="logo"
        class="header-bar__left--logo"
        @click="main"
      />
      <div class="header-bar__left--routing">
        <v-btn
          text
          @click.native="main"
          data-test="button-main"
        >
          {{ $t('headerBar.main') }}
        </v-btn>
        <v-btn
          text
          @click.native="forum"
          data-test="button-forum"
        >
          {{ $t('headerBar.forum') }}
        </v-btn>
        <v-btn
          text
          @click.native="reports"
          data-test="button-reports"
          v-if="$store.state.user.userInfo.admin"
        >
          {{ $t('headerBar.reports') }}
        </v-btn>
      </div>
    </div>
    <div class="header-bar__right">
      <login-register
        :drawer="drawer"
        @changeDrawer="changeDrawerEmitted"
      />
      <v-select
        :items="items"
        v-model="language"
      >
        <template slot="selection" slot-scope="data">
          <img :src="data.item.image" />
        </template>
        <template slot="item" slot-scope="data">
          <img :src="data.item.image" />
        </template>
      </v-select>
    </div>
  </div>
</template>
<script>
import logo from '@/assets/logo-dielthy.png';
import LoginRegister from '@/components/login-register/LoginRegister';
import spain from '../../assets/spain-flag-round-icon-16.png';
import uk from '../../assets/united-kingdom-flag-round-icon-16.png';
export default {
  name: 'HeaderBar',
  components: {
    LoginRegister
  },
  data() {
    return {
      logo: logo,
      items: [
        {
          image: spain,
          value: 'es'
        },
        {
          image: uk,
          value: 'en'
        }
      ],
      language: 'es',
      drawer: false
    };
  },
  methods: {
    main() {
      if (this.$route.path !== '/') {
        this.$router.push({ name: 'Main' }).catch(() => {});
      }
    },
    forum() {
      if (this.$route.path !== '/forum') {
        this.$router.push({ name: 'Forum' }).catch(() => {});
      }
    },
    reports() {
      if (this.$route.path !== '/reports') {
        this.$router.push({ name: 'Reports' }).catch(() => {});
      }
    },
    changeDrawerState() {
      this.drawer = !this.drawer;
    },
    changeDrawerEmitted(value) {
      if (!value) {
        this.drawer = value;
      }
    }
  },
  watch: {
    language: function(value) {
      this.$i18n.locale = value;
    }
  }
};
</script>
<style lang="scss" scoped>
.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: #BADA80;
  &__left {
    display: flex;
    &--logo {
      width: 3rem;
      cursor: pointer;
      @media (max-width: 480px) {
        width: 2rem;
      }
    }
    &--routing {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      @media (max-width: 480px) {
        margin-left: 0;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
}
.v-input {
  height: 2rem;
  width: 3rem;
}
.v-text-field {
  padding-top: 0;
  margin-top: 0;
}
.v-app-bar__nav-icon {
  display: none;
}
@media (max-width: 480px) {
  .v-app-bar__nav-icon {
    align-self: center;
    display: flex !important;
  }
  .v-btn {
    width: 1rem;
    &:last-child {
      width: 6rem;
    }
  }
}
</style>
