<template>
  <v-dialog
    v-model="dialogOpen"
    persistent
    max-width="30rem"
  >
    <div class="dialog-reset-password">
      <v-text-field
        v-model="email"
        outlined
        required
        :rules="emailRules"
        :label="$t('login.resetPassword.labelEmail')"
        data-test="email-reset-password"
      ></v-text-field>
      <div class="dialog-reset-password__actions">
        <v-btn
          @click.native="sendEmail"  
          data-test="send-email-button"
          color="success"
        >
          {{ this.$t('login.resetPassword.send') }}
        </v-btn>
        <v-btn
          @click.native="closeDialog"
          color="error"
        >
          {{ this.$t('login.resetPassword.cancel') }}
        </v-btn>
      </div>
    </div>
  </v-dialog>
</template>
<script>
export default {
  name: 'ResetPassword',
  props: {
    dialogOpen: Boolean
  },
  data() {
    return {
      email: '',
      emailRules: [
        v => !!v || this.$t('login.resetPassword.emptyEmail')
      ]
    }
  },
  methods: {
    closeDialog() {
      this.$emit('close');
    },
    sendEmail() {
      this.$emit('sendEmail', this.email);
    }
  }
};
</script>
<style lang="scss" scoped>
.dialog-reset-password {
  background-color: white;
  width: 100%;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-around;
  }
}
</style>
