<template>
  <div class="license">
    <a
      rel="license"
      href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
    >
      <img
        alt="Licencia de Creative Commons"
        style="border-width:0"
        src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"
      />
    </a>
    <div class="text">
      <div>
        {{ $t('license') }}
      </div>
    </div>
    <div class="text">
      <img :src="logo" class="logo">
      {{ currentYear }}
    </div>
  </div>
</template>
<script>
import logo from '../../assets/logo-cc.png';
export default {
  name: 'BottomBar',
  data() {
    return {
      logo,
      currentYear: new Date().getFullYear()
    };
  }
};
</script>
<style lang="scss" scoped>
.logo {
  width: 1rem;
  opacity: 0.6;
  margin-right: 0.3rem;
}
.license {
  font-size: 9pt;
  margin-bottom: 0.8rem;
  color: black;
  opacity: 0.7;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
