<template>
  <div
    class="comment-topic"
    :class="{ answer: isAnswer }">
    <div class="comment-topic__metadata">
      <div class="info-general">
        <v-icon size="3rem">
          {{ icons.user }}
        </v-icon>
        <div
          class="info-general__user"
          @click="goToProfile"  
        >
          {{ info.usuario }}
        </div>
      </div>
      <div class="date">
        {{ info.fecha }}
      </div>
    </div>
    <div
      class="comment-topic__data"
      :class="{ 'with-answer': !isAnswer && info.respuestas.length }">
      <div class="comment-content">
        <div class="comment-content__comment">
          {{ info.comentario }}
        </div>
        <div class="comment-content__actions">
          <v-tooltip
            bottom
            v-if="!isAnswer"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                v-on="on"
                @click.native="openDialog"
                data-test="reply-button"
              >
                <v-icon color="#0C84F5">
                  {{ icons.reply }}
                </v-icon>
              </v-btn>
            </template>
            <span>
              {{ $t('forum.comments.replyButton') }}
            </span>
          </v-tooltip>
          <v-tooltip
            bottom
            v-if="$store.state.user.userInfo.uid !== info.uidUsuario"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                v-on="on"
                @click.native="reportComment"
                data-test="report-button"
              >
                <v-icon color="#FA960E">
                  {{ icons.report }}
                </v-icon>                
              </v-btn>
            </template>
            <span>
              {{ $t('forum.comments.reportButton') }}
            </span>
          </v-tooltip>
          <v-tooltip
            bottom
            v-if="$store.state.user.userInfo.uid === info.uidUsuario"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                @click.native="openDialogDelete"
                data-test="delete-comment"
                v-on="on"
              >
                <v-icon color="error">
                  {{ icons.delete }}
                </v-icon>
              </v-btn>
            </template>
            <span>
              {{ $t('forum.comments.tooltipDelete') }}
            </span>
          </v-tooltip>
        </div>
      </div>
      <div
        v-if="!isAnswer && info.respuestas && info.respuestas.length"
        class="comment-topic__data__answer"
      >
        <comment-topic
          :isAnswer="true"
          v-for="(answer, index) in info.respuestas"
          :key="`respuesta${index}`"
          :info="answer"
          data-test="answer"
          @report="reportComment"
          @deleteComment="deleteComment"
        />
      </div>
    </div>
    <v-dialog
      v-model="dialogDelete"
      persistent
      max-width="30rem"
    >
      <div class="dialog-confirm-delete">
        <div>
          {{ $t('forum.comments.dialogDelete.question') }}
        </div>
        <div class="dialog-confirm-delete__actions">
          <v-btn
            @click.native="closeDialogDelete"
            color="error">
            {{ $t('forum.comments.dialogDelete.cancel') }}
          </v-btn>
          <v-btn
            @click.native="deleteComment"
            data-test="confirm-button"
            color="success"
          >
            {{ $t('forum.comments.dialogDelete.confirm') }}
          </v-btn>
        </div>
      </div>
    </v-dialog>
  </div>
</template>
<script>
import { mdiAccountCircle, mdiReply, mdiAlertOctagon, mdiDelete } from '@mdi/js';
import CommentTopic from './CommentTopic';
export default {
  name: 'CommentTopic',
  props: {
    info: Object,
    isAnswer: Boolean
  },
  components: {
    CommentTopic
  },
  data() {
    return {
      icons: {
        user: mdiAccountCircle,
        reply: mdiReply,
        report: mdiAlertOctagon,
        delete: mdiDelete
      },
      dialogDelete: false
    };
  },
  methods: {
    goToProfile() {
      this.$router.push({ name: 'Profile',
        params: {
          id: this.info.uidUsuario
        }
      });
    },
    openDialog() {
      this.$emit('open', { isAnswer: true, id: this.info.id });
    },
    reportComment(ev) {
      if (this.isAnswer) {
        this.$emit('report', { ...this.info, isAnswer: this.isAnswer });
      } else {
        if (ev.isAnswer) {
          this.$emit('report', { ...ev, idComentario: this.info.id });
        } else {
          this.$emit('report', { ...this.info });
        }
      }
    },
    openDialogDelete() {
      this.dialogDelete = true;
    },
    closeDialogDelete() {
      this.dialogDelete = false;
    },
    deleteComment(ev) {
      if (ev.comentario) {
        this.$emit('deleteComment', {...ev, id: this.info.id});
      } else {
        this.$emit('deleteComment', {...this.info})
      }
      this.dialogDelete = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.comment-topic {
  display: flex;
  border-bottom: 1px solid grey;
  &.answer {
    border-bottom: 1px solid grey;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__metadata {
    width: 12rem;
    min-height: 5rem;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid grey;
    align-items: center;
    .date {
      font-size: 10pt;
      margin-top: 0.5rem;
    }
    .info-general {
      display: flex;
      align-items: center;
      flex-direction: column;
      &__user {
        word-break: break-word;
        padding: 0 0.3rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .v-icon {
      color: #353333 !important;
    }
  }
  &__data {
    text-align: justify;
    display: flex;
    align-items: center;
    width: 100%;
    @media (max-width: 480px) {
      align-items: initial;
    }
    &.with-answer {
      display: initial;
    }
    &__answer {
      border-top: 1px solid grey;
      border-bottom: none;
      @media (max-width: 480px) {
        .comment-topic__metadata {
          min-width: 0;
          min-width: 9rem;
          width: 100%;
        }
        .comment-topic__data {
          border-right: 1px solid grey;
        }
      }
    }
    .comment-content {
      display: flex;
      width: 100%;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      &__comment {
        min-height: 5rem;
        margin: 0.75rem;
        @media (max-width: 480px) {
          min-height: 0;
        }
      }
      &__actions {
        margin-left: auto;
        @media (max-width: 480px) {
          margin-right: 0.2rem;
          margin-top: auto;
        }
      }
    }
  }
}
.dialog-confirm-delete {
  background-color: white;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
</style>
