<template>
  <div>
    <div class="topic-info">
      <div class="topic-info__element">
        <div
          class="name"
          @click="goToTopic"
          data-test="topic-name"
        >
          {{ info.nombre }}
        </div>
        <div class="created">
          {{ $t('forum.topic.created', { date: info.creado }) }}
          <span
            class="created__user"
            @click="goToProfile"  
          >
            {{ info.usuarioCreacion }}
          </span>
        </div>
      </div>
      <div class="right">
        <div class="right__first">
          <img :src="getSrcLanguage(info.idioma)">
          <div class="tags">
            <topic-tag
              v-for="(item, index) in info.tag"
              :key="'tag'+index"
              :tag="item"
            />
        </div>
        </div>
        <div class="topic-info__element">
          <div
            class="messages"
            data-test="messages-number"
          >
            <v-icon
              size="1.1rem"
              :color="info.mens > 0 ? 'green' : ''"
            >
              {{ icons.messages }}
            </v-icon>
            {{ info.mens }}
          </div>
          <div class="modified">
            {{ $t('forum.topic.updated', { date: info.actualizado }) }}
          </div>
        </div>
      </div>
    </div>
    <v-divider/>
  </div>
</template>
<script>
import { mdiCommentTextMultiple } from '@mdi/js';
import TopicTag from '../topic-tag/TopicTag';
import spain from '../../assets/spain-flag-round-icon-16.png';
import uk from '../../assets/united-kingdom-flag-round-icon-16.png';
export default {
  name: 'TopicForum',
  props: {
    info: Object
  },
  components: {
    TopicTag
  },
  data() {
    return {
      icons: {
        messages: mdiCommentTextMultiple
      },
      images: {
        spain: spain,
        uk: uk
      }
    }
  },
  methods: {
    goToProfile() {
      this.$router.push({ name: 'Profile',
        params: {
          id: this.info.uidCreacion
        }
      });
    },
    goToTopic() {
      this.$router.push({ name: 'Topic',
        params: {
          id: this.info.id
        }
      });
    },
    getSrcLanguage(language) {
      switch (language) {
        case 'es':
          return spain;
        case 'en':
          return uk;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.topic-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  &__element {
    display: flex;
    flex-direction: column;
    align-self: center;
    @media (max-width: 480px) {
      &:first-child {
        align-self: flex-start;
      }
    }
    .name {
      font-weight: bold;
      font-size: 15pt;
      width: 100%;
      padding-left: 0.5rem;
      text-align: left;
      cursor: pointer;
      @media (max-width: 480px) {
        word-break: break-word;
        white-space: pre-wrap;
        padding-right: 0.2rem;
        padding-left: 0.1rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .created {
      font-size: 9pt;
      text-align: left;
      opacity: 0.8;
      margin-left: 0.4rem;
      color: black;
      &__user {
        font-weight: bold;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .messages {
      width: 4rem;
      align-self: center;
      font-size: 11pt;
    }
    .modified {
      opacity: 0.9;
      font-size: 10pt;
      text-align: right;
      margin-right: 0.4rem;
      color: black;
      @media (max-width: 480px) {
        align-self: center;
      }
    }
  }
  .right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    &__first {
      display: flex;
      @media (max-width: 480px) {
        margin-right: auto;
      }
    }
    .topic-info__element {
      margin-left: 1rem;
      min-width: 11rem;
    }
    .tags {
      display: flex;
      .tag {
        margin-left: 0.5rem;
      }
    }
    img {
      margin-right: 0.7rem;
      width: 1rem;
      height: 1rem;
      align-self: center;
      @media (max-width: 480px) {
        margin-right: 0;
      }
    }
    @media (max-width: 480px) {
      margin-left: 0.4rem;
      margin-top: 0.3rem;
      width: 100%;
      flex-direction: column;
      .topic-info__element {
        margin-left: 0;
        margin-right: auto;
        min-width: 0;
        flex-direction: row;
        margin-top: 0.6rem;
      }
    }
  }
}
</style>