<template>
  <div class="report-info">
    <div class="report-info__left">
      <div class="report-info__left__comment">
        {{ info.comentario }}
      </div>
      <div class="report-info__left__actions">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              @click.native="openDialogDelete"
              data-test="delete-comment"
              v-on="on"
            >
              <v-icon color="error">
                {{ icons.delete }}
              </v-icon>
            </v-btn>
          </template>
          <span>
            {{ $t('reports.tooltipDelete') }}
          </span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              @click.native="openDismissReport"
              data-test="dismiss-comment"
              v-on="on"
            >
              <v-icon color="#1DB00E">
                {{ icons.dismiss }}
              </v-icon>
            </v-btn>
          </template>
          <span>
            {{ $t('reports.tooltipDismiss') }}
          </span>
        </v-tooltip>
      </div>
    </div>
    <div class="report-info__right">
      <div>
        {{ $t('reports.numberOfReports', { num: info.reportes }) }}
      </div>
      <div>
        <v-expansion-panels flat>
          <v-expansion-panel>
            <v-expansion-panel-header data-test="number-users">
              {{ $t('reports.numberOfUsers', { num: info.usuariosReporte.length }) }}
            </v-expansion-panel-header>
            <v-expansion-panel-content v-if="info.usuariosReporte.length">
              <div
                v-for="(user, index) in info.usuariosReporte"
                :key="index"
              >
                <div
                  class="info-report"
                  data-test="users-report"
                >
                  <div
                    class="info-report__username"
                    @click="goToProfile(user.idUsuarioReporte)"
                    data-test="username-report"
                  >
                    {{ user.usuarioReporte }}
                  </div>
                  {{ user.reportes }}
                </div>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
      <div>
        {{ $t('reports.commentUser') }}
        <span
          class="user"
          @click="goToProfile(info.uidUsuario)"
          data-test="comment-user"
        >
          {{ info.usuario }}
        </span>
      </div>
      <div>
        {{ $t('reports.commentDate', { date: info.fecha }) }}
      </div>
    </div>
    <v-dialog
      v-model="dialogDelete"
      persistent
      max-width="30rem"
    >
      <div class="dialog-confirm">
        <div>
          {{ $t('reports.dialogDelete.question') }}
        </div>
        <div class="dialog-confirm__actions">
          <v-btn
            @click.native="closeDialogDelete"
            color="error"
          >
            {{ $t('reports.dialogDelete.cancel') }}
          </v-btn>
          <v-btn
            @click.native="deleteComment"
            data-test="confirm-button"
            color="success"
          >
            {{ $t('reports.dialogDelete.confirm') }}
          </v-btn>
        </div>
      </div>
    </v-dialog>
    <v-dialog
      v-model="dialogDismiss"
      persistent
      max-width="30rem"
    >
      <div class="dialog-confirm">
        <div>
          {{ $t('reports.dialogDismiss.question') }}
        </div>
        <div class="dialog-confirm__actions">
          <v-btn
            @click.native="closeDialogDismiss"
            color="error"
          >
            {{ $t('reports.dialogDismiss.cancel') }}
          </v-btn>
          <v-btn
            @click.native="dismissReport"
            data-test="confirm-button"
            color="success"
          >
            {{ $t('reports.dialogDismiss.confirm') }}
          </v-btn>
        </div>
      </div>
    </v-dialog>
  </div>
</template>
<script>
import { mdiDelete, mdiEyeCheck } from '@mdi/js';
export default {
  name: 'ReportInfo',
  props: {
    info: {}
  },
  data() {
    return {
      icons: {
        delete: mdiDelete,
        dismiss: mdiEyeCheck
      },
      dialogDelete: false,
      dialogDismiss: false
    };
  },
  methods: {
    goToProfile(userId) {
      this.$router.push({
        name: 'Profile',
        params: {
          id: userId
        }
      });
    },
    openDialogDelete() {
      this.dialogDelete = true;
    },
    closeDialogDelete() {
      this.dialogDelete = false;
    },
    deleteComment() {
      this.dialogDelete = false;
      this.$emit('delete', this.info);
    },
    openDismissReport() {
      this.dialogDismiss = true;
    },
    closeDialogDismiss() {
      this.dialogDismiss = false;
    },
    dismissReport() {
      this.dialogDismiss = false;
      this.$emit('dismiss', this.info);
    }
  }
};
</script>
<style lang="scss" scoped>
.report-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  @media (max-width: 480px) {
    flex-direction: column;
    border-bottom: 2px solid black;
  }
  &__right {
    border-left: 1px solid grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 22rem;
    min-height: 10rem;
    color: black;
    @media (max-width: 480px) {
      border-top: 1px dotted grey;
      border-left: 0;
    }
    .info-report {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__username {
        text-decoration: underline;
        margin-right: 0.5rem;
        word-break: break-word;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .v-expansion-panel-header {
      font-size: 12pt;
    }
    .user {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    min-height: 5rem;
    color: black;
    @media (max-width: 480px) {
      flex-direction: column;
      padding-bottom: 0.2rem;
      &__actions {
        margin-left: auto;
      }
    }
    &__comment {
      word-break: break-all;
      text-align: left;
      margin-right: 1rem;
    }
    &__icons {
      display: flex;
      align-items: flex-start;
    }
  }
}
.dialog-confirm {
  background-color: white;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
.v-expansion-panel {
  background-color: transparent !important;
}
</style>
