<template>
  <v-dialog
    v-model="dialogOpen"
    persistent
    max-width="30rem"
  >
    <div class="dialog-add-topic">
      <v-form
        ref="add-topic-form"
        v-model="valid"
      >
        <v-text-field
          v-model="name"
          outlined
          required
          :rules="nameRules"
          :label="$t('forum.addTopic.name')"
          data-test="add-topic-name"
        />
        <v-select
          :items="tags"
          v-model="tag"
          outlined
          :placeholder="$t('forum.addTopic.tag')"
          required
          :rules="tagRules"
          data-test="add-topic-tag"
          multiple
          chips
        >
          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index === 0">
              <span>
                {{ item.text }}
              </span>
            </v-chip>
            <span
              v-if="index === 1"
              class="grey--text caption"
            >
              (+{{ tag.length - 1 }})
            </span>
          </template>
        </v-select>
        <v-select
          :items="langItems"
          v-model="language"
          outlined
          required
          :rules="langRules"
          :placeholder="$t('forum.addTopic.language')"
          data-test="add-topic-lang"
        >
          <template slot="selection" slot-scope="data">
            <img class="language-img" :src="data.item.image" />
            {{ data.item.text }}
          </template>
          <template slot="item" slot-scope="data">
            <img class="language-img" :src="data.item.image" />
            {{ data.item.text }}
          </template>
        </v-select>
        <div class="dialog-add-topic__actions">
          <v-btn
            @click="closeDialog(false)"
            color="error"  
          >
            {{ $t('forum.addTopic.close') }}
          </v-btn>
          <v-btn
            @click="closeDialog(true)"
            color="success"
            data-test="save-topic-button"
          >
            {{ $t('forum.addTopic.save') }}
          </v-btn>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>
<script>
import TopicsService from '../../api/topics';
import spain from '../../assets/spain-flag-round-icon-16.png';
import uk from '../../assets/united-kingdom-flag-round-icon-16.png';

const topicsService = new TopicsService();

export default {
  name: 'AddTopic',
  props: {
    dialogOpen: Boolean
  },
  data() {
    return {
      name: '',
      nameRules: [
        v => !!v || this.$t('forum.addTopic.errors.name')
      ],
      tag: [],
      tagRules: [
        v => v.length > 0 || this.$t('forum.addTopic.errors.tag')
      ],
      language: '',
      langRules: [
        v => !!v || this.$t('forum.addTopic.errors.language')
      ],
      valid: true,
      langItems: [
        {
          image: spain,
          value: 'es',
          text: this.$t('language.spanish')
        },
        {
          image: uk,
          value: 'en',
          text: this.$t('language.english')
        }
      ],
      isNoneChecked: false,
      isAnyChecked: false
    };
  },
  computed: {
    tags() {
      return [
        {
          text: this.$t('forum.topic.tag.veg'),
          value: 'veg'
        },
        {
          text: this.$t('forum.topic.tag.cel'),
          value: 'cel'
        },
        {
          text: this.$t('forum.topic.tag.lac'),
          value: 'lac'
        },
        {
          text: this.$t('forum.topic.tag.none'),
          value: 'none'
        }
      ];
    }
  },
  methods: {
    closeDialog(valueToReload) {
      if (valueToReload) {
        this.$refs['add-topic-form'].validate();
        if (this.valid) {
          let dataToSend = {
            name: this.name,
            tag: this.tag,
            language: this.language,
            uid: this.$store.state.user.userInfo.uid,
            user: this.$store.state.user.userInfo.username
          };
          this.$emit('close', valueToReload);
          topicsService.newTopic(dataToSend).then(() => {
            this.$refs['add-topic-form'].resetValidation();
            this.name = '';
            this.tag = [];
            this.language = '';
          })
          .catch(() => {
            this.$refs['add-topic-form'].resetValidation();
            this.name = '';
            this.tag = [];
            this.language = '';
          });
        }
      } else {
        this.$emit('close', valueToReload);
        this.$refs['add-topic-form'].resetValidation();
        this.name = '';
        this.tag = [];
        this.language = '';
      }
    }
  },
  watch: {
    isNoneChecked: function(value) {
      if (value) {
        if (this.tag.length > 1) {
          this.isAnyChecked = false;
          this.tag = ['none'];
        }
      }
    },
    tag: {
      deep: true,
      handler: function(value) {
        if (value.includes('none') && !this.isNoneChecked) {
          this.tag = ['none'];
          this.isNoneChecked = true;
          this.isAnyChecked = false;
        } else if (!this.isAnyChecked && value.length > 1) {
          if (value.includes('none')) {
            var i = value.indexOf('none');
            i !== -1 && this.tag.splice( i, 1 );
            this.isNoneChecked = false;
            this.isAnyChecked = true;
          }
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.dialog-add-topic {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
.language-img {
  margin-right: 0.5rem;
}
</style>