<template>
  <div>
    <v-subheader
      v-if="danger"
      data-test="danger"
    >
      {{ $t('aditiveInfo.danger') }}
    </v-subheader>
    <div class="aditive-info">
      <div 
        class="aditive-info__code"
        data-test="code"
      >
        {{ $t('aditiveInfo.aditiveCode') }}{{ aditive.code }}
      </div>
      <div class="aditive-info__element">
        <div>
          {{ $t('aditiveInfo.description') }}
        </div>
        <div
          data-test="description"
          class="description"
        >
          {{ aditive.description }}
        </div>
      </div>
      <div class="aditive-info__element">
        {{ $t('aditiveInfo.origin') }}
        <v-icon
          v-if="aditive.origin === 'Vegetal'"
          size="2rem"
          color="green"
          data-test="icon-sprout"
        >
          {{ icons.sprout }}
        </v-icon>
        <v-icon
          v-if="aditive.origin === 'Químico o sintético'"
          size="1.75rem"
          color="purple"
          data-test="icon-flask"
        >
          {{ icons.flask }}
        </v-icon>
        <v-icon
          v-if="aditive.origin === 'Animal'"
          size="2rem"
          color="pink"
          data-test="icon-pig"
        >
          {{ icons.pig }}
        </v-icon>
        <v-icon
          v-if="aditive.origin === 'Indeterminado'"
          size="1.75rem"
          color="grey"
          data-test="icon-help"
        >
          {{ icons.help }}
        </v-icon>
      </div>
      <div class="aditive-info__element">
        <div>
          {{ $t('aditiveInfo.type') }}
        </div>
        <div data-test="type">
          {{ aditive.type }}
        </div>
      </div>
      <div class="aditive-info__element">
        {{ $t('aditiveInfo.cel') }}
        <v-icon
          v-if="aditive.cel"
          color="green"
          size="1.75rem"
          data-test="icon-happy-cel"
        >
          {{ icons.barley }}
        </v-icon>
        <v-icon
          v-else
          color="#ff0000"
          size="1.75rem"
          data-test="icon-sad-cel"
        >
          {{ icons.barleyOff }}
        </v-icon>
      </div>
      <div class="aditive-info__element">
        {{ $t('aditiveInfo.lac') }}
        <v-icon
          v-if="aditive.lac"
          color="green"
          size="1.75rem"
          data-test="icon-happy-lac"
        >
          {{ icons.cheese }}
        </v-icon>
        <v-icon
          v-else
          color="#ff0000"
          size="1.75rem"
          data-test="icon-sad-lac"
        >
          {{ icons.cheeseOff }}
        </v-icon>
      </div>
      <div class="aditive-info__element">
        {{ $t('aditiveInfo.veg') }}
        <v-icon
          v-if="aditive.veg"
          color="green"
          size="1.75rem"
          data-test="icon-happy-veg"
        >
          {{ icons.leaf }}
        </v-icon>
        <v-icon
          v-else
          color="#ff0000"
          size="1.75rem"
          data-test="icon-sad-veg"
        >
          {{ icons.leafOff }}
        </v-icon>
      </div>
    </div>
  </div>
</template>
<script>
import { mdiBarley, mdiBarleyOff, mdiCheese, mdiCheeseOff, mdiSprout, mdiFlask, mdiPigVariant,
  mdiHelpCircle, mdiLeaf, mdiLeafOff } from '@mdi/js';
import { mapState } from 'vuex';
import store from '../store/index';

export default {
  name: 'AditiveInfo',
  data() {
    return {
      icons: {
        sprout: mdiSprout,
        flask: mdiFlask,
        pig: mdiPigVariant,
        help: mdiHelpCircle,
        barley: mdiBarley,
        barleyOff: mdiBarleyOff,
        cheese: mdiCheese,
        cheeseOff: mdiCheeseOff,
        leaf: mdiLeaf,
        leafOff: mdiLeafOff
      },
      danger: false
    };
  },
  computed: {
    ...mapState({
      aditive: state => state.aditive.aditive,
      dietTypesState: state => state.user.userInfo.dietTypes
    })
  },
  beforeRouteEnter(to, from, next) {
    if (!store.state.aditive.aditive) {
      next('/');
    } else {
      next();
    }
  },
  mounted() {
    if (this.dietTypesState.length) {
      const keys = Object.keys(this.aditive).filter(el => el === 'lac' || el === 'veg' || el === 'cel');
      for (let key of keys) {
        if (!this.aditive[key] && this.dietTypesState.includes(key)) {
          this.danger = true;
          break;
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.aditive-info {
  margin-top: 1.5rem;
  margin-bottom: 8rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 90%;
  }
  &__code {
    font-size: 30pt;
    font-weight: bold;
  }
  &__element {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    .description {
      text-align: right;
    }
  }
}
.no-aditive {
  margin-top: 10rem;
  &__text {
    margin-bottom: 1.5rem;
    font-size: 14pt;
  }
}
.loading {
  margin-top: 16rem;
}
.v-subheader {
  display: flex;
  justify-content: center;
  background-color: #EA1F19;
  color: antiquewhite !important;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}
</style>
