<template>
  <div
    class="forum"
    :class="{ loading : loading }"
  >

    <v-progress-circular
      indeterminate
      v-if="loading"
    />

    <div v-else>
      <div class="forum-header no-mobile">
        <div class="forum__info__filters">
          <div class="filter">
            <v-text-field
              solo
              v-model="filterTopicName"
              :placeholder="$t('forum.filters.name')"
              @input="filterAndOrder"
            />
          </div>
          <div class="filter">
            <v-select
              :items="filterByItems"
              v-model="filter"
              solo
              :placeholder="$t('forum.filters.filterBy')"
              clearable
              @change="filterAndOrder"
              multiple
              chips
            >
              <template v-slot:selection="{ item, index }">
                <v-chip v-if="index === 0">
                  <span>
                    {{ item.text }}
                  </span>
                </v-chip>
                <span
                  v-if="index === 1"
                  class="grey--text caption"
                >
                  (+{{ filter.length - 1 }})
                </span>
              </template>
            </v-select>
          </div>
          <div class="filter language">
            <v-select
              :items="langItems"
              v-model="filterByLanguage"
              solo
              :placeholder="$t('forum.filters.language')"
              clearable
              @change="filterAndOrder"
            >
              <template slot="selection" slot-scope="data">
                <img class="language-img" :src="data.item.image" />
                {{ data.item.text }}
              </template>
              <template slot="item" slot-scope="data">
                <img class="language-img" :src="data.item.image" />
                {{ data.item.text }}
              </template>
            </v-select>
          </div>
          <div class="filter">
            <v-select
              :items="orderByItems"
              v-model="order"
              solo
              :placeholder="$t('forum.filters.order')"
              clearable
              @change="filterAndOrder"
            />
            <v-btn
              icon
              @click.native="orderCriteria = (-1)*orderCriteria"
            >
              <v-icon v-if="orderCriteria === typeOfOrder.descending">
                {{ icons.descend }}
              </v-icon>
              <v-icon v-else>
                {{ icons.ascend }}
              </v-icon>
            </v-btn>
          </div>
        </div>
        <v-btn
          rounded
          text
          width="10.7rem"
          class="forum-header__add-topic"
          @click.native="addTopic"
          data-test="add-topic-button"
        >
          {{ $t('forum.newTopic') }}
          <v-icon>
            {{ icons.add }}
          </v-icon>
        </v-btn>
      </div>
      <div class="forum-header mobile">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              {{ $t('forum.filters.title') }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="forum__info__filters">
                <div class="filter">
                  <v-text-field
                    solo
                    v-model="filterTopicName"
                    :placeholder="$t('forum.filters.name')"
                    @input="filterAndOrder"
                  />
                </div>
                <div class="filter">
                  <v-select
                    :items="filterByItems"
                    v-model="filter"
                    solo
                    :placeholder="$t('forum.filters.filterBy')"
                    clearable
                    multiple
                    chips
                    @change="filterAndOrder"
                  >
                    <template v-slot:selection="{ item, index }">
                      <v-chip v-if="index === 0">
                        <span>
                          {{ item.text }}
                        </span>
                      </v-chip>
                      <span
                        v-if="index === 1"
                        class="grey--text caption"
                      >
                        (+{{ filter.length - 1 }})
                      </span>
                    </template>
                  </v-select>
                </div>
                <div class="filter language">
                  <v-select
                    :items="langItems"
                    v-model="filterByLanguage"
                    solo
                    :placeholder="$t('forum.filters.language')"
                    clearable
                    @change="filterAndOrder"
                  >
                    <template
                      slot="selection"
                      slot-scope="data"
                    >
                      <img
                        class="language-img"
                        :src="data.item.image"
                      />
                      {{ data.item.text }}
                    </template>
                    <template
                      slot="item"
                      slot-scope="data"
                    >
                      <img
                        class="language-img"
                        :src="data.item.image"
                      />
                      {{ data.item.text }}
                    </template>
                  </v-select>
                </div>
                <div class="filter">
                  <v-select
                    :items="orderByItems"
                    v-model="order"
                    solo
                    :placeholder="$t('forum.filters.order')"
                    clearable
                    @change="filterAndOrder"
                  />
                  <v-btn
                    icon
                    @click.native="orderCriteria = (-1)*orderCriteria"
                  >
                    <v-icon v-if="orderCriteria === typeOfOrder.descending">
                      {{ icons.descend }}
                    </v-icon>
                    <v-icon v-else>
                      {{ icons.ascend }}
                    </v-icon>
                  </v-btn>
                </div>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-btn
          rounded
          text
          width="10.7rem"
          class="forum-header__add-topic"
          @click.native="addTopic"
          data-test="add-topic-button"
        >
          {{ $t('forum.newTopic') }}
          <v-icon>
            {{ icons.add }}
          </v-icon>
        </v-btn>
      </div>
      
      <div
        v-if="topicsFiltered.length !== 0"
        data-test="topics-info"
      >
        <div class="forum__info">
          <div class="forum__info__topics">
            <topic-forum
              v-for="(topicInfo, index) in topicsList"
              :key="index"
              :info="topicInfo"
              data-test="topic"
            />
          </div>
        </div>
        <div class="pagination">
          <v-pagination
            v-model="page"
            :length="pagesLength"
            circle
            :total-visible="4"
            v-if="pagesLength > 1"
            data-test="pagination"
          />
        </div>
      </div>
      <div
        v-else
        class="no-topic"
        data-test="no-topic"
      >
        {{ $t('forum.noTopics') }}
      </div>      
    </div>
    <add-topic
      :dialogOpen="dialogOpen"
      @close="closeDialog"
      data-test="add-topic-dialog"
    />
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarOk"
      data-test="saved-topic"
    >
      <span>
        {{ $t('forum.addTopic.success') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarError"
    >
      <span>
        {{ $t('forum.addTopic.errors.notAdded') }}
      </span>
    </v-snackbar>
  </div>
</template>
<script>
import TopicForum from '../components/topic-forum/TopicForum';
import TopicsService from '../api/topics';
import { mdiPlusCircle, mdiSortAscending, mdiSortDescending } from '@mdi/js';
import AddTopic from '../components/add-topic/AddTopic';
import { getDate } from '../utils/sharedFunctions';
import spain from '../assets/spain-flag-round-icon-16.png';
import uk from '../assets/united-kingdom-flag-round-icon-16.png';
import { mapState } from 'vuex';

const topicsService = new TopicsService();

export default {
  name: 'Forum',
  components: {
    TopicForum,
    AddTopic
  },
  data() {
    var orderType = {
      ascending: 1,
      descending: -1
    };
    return {
      loading: true,
      filter: [],
      isNoneChecked: false,
      isAnyChecked: false,
      isMyDietChecked: false,
      order: '',
      filterTopicName: '',
      filterByLanguage: '',
      orderCriteria: orderType.descending,
      typeOfOrder: orderType,
      page: 1,
      topics: [],
      topicsFiltered: [],
      icons: {
        add: mdiPlusCircle,
        ascend: mdiSortAscending,
        descend: mdiSortDescending
      },
      dialogOpen: false,
      showSnackbarOk: false,
      showSnackbarError: false,
      langItems: [
        {
          image: spain,
          value: 'es',
          text: this.$t('language.spanish')
        },
        {
          image: uk,
          value: 'en',
          text: this.$t('language.english')
        }
      ],
    }
  },
  computed: {
    ...mapState({
      dietTypes: state => state.user.userInfo.dietTypes
    }),
    pagesLength() {
      return this.topicsFiltered.length % 10 !== 0 ? parseInt(this.topicsFiltered.length / 10) + 1 : this.topicsFiltered.length / 10;
    },
    topicsList() {
      return this.topicsFiltered.slice(10 * (this.page - 1), 10 * this.page);
    },
    filterByItems() {
      return [
        {
          text: this.$t('forum.topic.tag.veg'),
          value: 'veg'
        },
        {
          text: this.$t('forum.topic.tag.cel'),
          value: 'cel'
        },
        {
          text: this.$t('forum.topic.tag.lac'),
          value: 'lac'
        },
        {
          text: this.$t('forum.topic.tag.none'),
          value: 'none'
        },
        {
          text: this.$t('forum.filters.myDiet'),
          value: 'myDiet'
        }
      ];
    },
    orderByItems() {
      return [
        {
          text: this.$t('forum.filters.orderItems.updated'),
          value: 'actualizado'
        },
        {
          text: this.$t('forum.filters.orderItems.created'),
          value: 'creado'
        }
      ];
    }
  },
  methods: {
    filterAndOrder() {
      this.topicsFiltered = this.topics;
      this.page = 1;
      if (this.filter && this.filter.length) {
        if (!this.filter.includes('myDiet')) {
          this.topicsFiltered = this.topicsFiltered.filter(
            topic => this.filter.every(v => topic.tag.includes(v))); 
        } else {
          this.topicsFiltered = this.topicsFiltered.filter(
            topic => this.dietTypes.every(v => topic.tag.includes(v)));
        }
      }
      if (this.order && this.order.length) {
        if (this.orderCriteria === -1) {
          if (this.order !== 'actualizado') {
            const data = [...this.topicsFiltered];
            this.topicsFiltered = data.sort((a, b) =>
              getDate(a[this.order], false) <
              getDate(b[this.order], false)
                ? 1
                : -1
            );
          }
        } else {
          const data = [...this.topicsFiltered];
          this.topicsFiltered = data.sort((a, b) =>
            getDate(a[this.order], this.order === 'actualizado') <
            getDate(b[this.order], this.order === 'actualizado')
              ? -1
              : 1
          );
        }
      } else {
        const data = [...this.topicsFiltered];
          this.topicsFiltered = data.sort((a, b) =>
            getDate(a.actualizado, true) <
            getDate(b.actualizado, true)
              ? (-1)*this.orderCriteria
              : (-1)*this.orderCriteria
          );
      }
      if (this.filterTopicName && this.filterTopicName.length) {
        this.topicsFiltered = this.topicsFiltered.filter(topic =>
          topic.nombre.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').includes(
            this.filterTopicName.trim().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '')
          ));
      }
      if (this.filterByLanguage && this.filterByLanguage.length) {
        this.topicsFiltered = this.topicsFiltered.filter(topic => topic.idioma === this.filterByLanguage);
      }
    },
    addTopic() {
      this.dialogOpen = true;
    },
    closeDialog(reload) {
      if (reload === null) {
        this.showSnackbarError = true;
      } else if (reload === true) {
        this.showSnackbarOk = true;
        this.order = '';
        this.filter = '';
        this.filterTopicName = '';
        this.topics = [];
        this.loading = true;
        topicsService.loadTopics().then(res => {
          res.forEach(doc => {
            this.topics.push({...doc.data(), id: doc.id})
          });
          this.topics = this.topics.sort((a, b) =>
            getDate(a.actualizado, true) <
            getDate(b.actualizado, true)
              ? 1
              : -1
          );
          this.filterAndOrder();
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
      }
      this.dialogOpen = false;
    },
    changeAnyCheckbox() {
      if (!this.isAnyChecked) {
        this.isAnyChecked = true;
        if (this.filter.indexOf('none') !== -1 || 
            this.filter.indexOf('myDiet') !== -1) {
          var i = this.filter.indexOf('none');
          i !== -1 && this.filter.splice( i, 1 );
          i = this.filter.indexOf('myDiet');
          i !== -1 && this.filter.splice( i, 1 );
          this.isNoneChecked = false;
          this.isMyDietChecked = false;
        }
      }
    }
  },
  watch: {
    page: function(value) {
      window.scrollTo(0, 0);
    },
    orderCriteria: function(value) {
      this.filterAndOrder();
    },
    isNoneChecked: function(value) {
      if (value) {
        if (this.filter.length > 1) {
          this.isAnyChecked = false;
          this.isMyDietChecked = false;
          this.filter = ['none'];
          this.filterAndOrder();
        }
      }
    },
    isMyDietChecked: function(value) {
      if (value) {
        if (this.filter.length > 1) {
          this.isAnyChecked = false;
          this.isNoneChecked = false;
          this.filter = ['myDiet'];
          this.filterAndOrder();
        }
      }
    },
    filter: {
      deep: true,
      handler: function(value) {
        if (value.includes('none') && !this.isNoneChecked) {
          this.filter = ['none'];
          this.isNoneChecked = true;
          this.isAnyChecked = false;
          this.isMyDietChecked = false;
        } else if (value.includes('myDiet') && !this.isMyDietChecked) {
          this.filter = ['myDiet'];
          this.isNoneChecked = false;
          this.isAnyChecked = false;
          this.isMyDietChecked = true;
        } else if (!this.isAnyChecked && value.length > 1) {
          if (value.includes('none') || value.includes('myDiet')) {
            var i = value.indexOf('none');
            i !== -1 && this.filter.splice( i, 1 );
            this.isNoneChecked = false;
            i = value.indexOf('myDiet');
            i !== -1 && this.filter.splice( i, 1 );
            this.isMyDietChecked = false;
            this.isAnyChecked = true;
            this.filterAndOrder();
          }
        } else {
          this.filterAndOrder();
        }
      }
    }
  },
  activated() {
    this.loading = true;
    this.topics = [];
    topicsService.loadTopics().then(res => {
      res.forEach(doc => {
        this.topics.push({...doc.data(), id: doc.id})
      });
      this.topics = this.topics.sort((a, b) =>
        getDate(a.actualizado, true) <
        getDate(b.actualizado, true)
          ? 1
          : -1
      );
      this.filterAndOrder();
      this.loading = false;
    })
    .catch(() => {
      this.loading = false;
    });
  }
};
</script>
<style lang="scss" scoped>
.forum {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
  &.loading {
    height: 90%;
    justify-content: center;
    align-items: center;
  }
  &-header {
    display: flex;
    justify-content: space-around;
    &.no-mobile {
      display: flex;
    }
    &.mobile {
      display: none;
    }
    @media (max-width: 480px) {
      &.no-mobile {
        display: none;
      }
      &.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        .forum__info__filters {
          flex-direction: column;
          align-items: flex-start;
          .filter {
            margin-left: 0;
            width: 100%;
          }
        }
      }
    }
    &__add-topic {
      display: flex;
      justify-content: space-between;
      margin-top: .5rem;
    }
  }
  .progress {
    overflow: hidden;
    backface-visibility: hidden;
  }
  &__info {    
    width: 100%;
    margin-bottom: 1.5rem;
    &__filters {
      display: flex;
      align-items: flex-start;
      .filter {
        &:last-child {
          width: 18rem;
        }
        width: 14rem;
        margin-left: 3rem;
        &:last-child {
          display: flex;
        }
        .v-btn {
          margin-top: 0.4rem;
        }
        &.language {
          width: 11rem;
        }
      }
    }
    &__topics {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
    }
  }
  .pagination {
    width: fit-content;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.no-topic {
  margin-top: 1rem;
}
.language-img {
  margin-right: 0.5rem;
}
.v-expansion-panel {
  max-width: 85%;
}
</style>
