<template>
  <div class="login">
    <img
      :src="logo"
      class="login__logo"
    />
    <v-form
      ref="login-form"
      v-model="valid"
      class="login__form"
    >
      <span
        class="login__form--error"
        v-show="error"
        data-test="show-error"
      >
        {{ this.$t('login.errors.notUserFound') }}
      </span>
      <v-text-field
        solo
        :label="$t('login.email.label')"
        v-model="email"
        :rules="emailRules"
        required
        data-test="login-email"
        @keydown.enter="login"
      ></v-text-field>
      <v-text-field
        solo
        :label="$t('login.password.label')"
        v-model="password"
        :rules="passwordRules"
        required
        type="password"
        data-test="password-login"
        @keydown.enter="login"
      ></v-text-field>
      <div class="login__form__actions">
        <span
          class="login__form--reset-password"
          @click="resetPassword"
          data-test="password-forgotten"
        >
          {{ this.$t('login.errors.forgottenPassword') }}
        </span>
        <v-btn
          @click.native="login"
          :loading="isLoading"
          data-test="login-button"
        >
          {{ this.$t('login.loginButton') }}
        </v-btn>
      </div>
    </v-form>
    <reset-password
      :dialogOpen="dialogOpen"
      v-if="dialogOpen"
      @close="closeDialog"
      @sendEmail="sendResetPasswordEmail"
    ></reset-password>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarOk"
      data-test="send-email-ok"
    >
      <span>
        {{ this.$t('login.resetPassword.emailSent') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarError"
      data-test="send-email-not-found"
    >
      <span>
        {{ this.$t('login.errors.notEmailFound') }}
      </span>
    </v-snackbar>
  </div>
</template>
<script>
import logo from '../assets/logo-dielthy.png';
import ResetPassword from '../components/reset-password/ResetPassword';
export default {
  name: 'Login',
  components: {
    ResetPassword
  },
  data() {
    return {
      logo: logo,
      email: '',
      emailRules: [
        v => !!v || this.$t('login.errors.email.empty'),
        v => /.+@.+\..+/.test(v) || this.$t('login.errors.email.notValid')
      ],
      password: '',
      passwordRules: [
        v => !!v || this.$t('login.errors.password.empty')
      ],
      valid: true,
      error: false,
      isLoading: false,
      dialogOpen: false,
      showSnackbarOk: false,
      showSnackbarError: false
    };
  },
  methods: {
    login() {
      this.$refs['login-form'].validate();
      if (this.valid) {
        this.error = false;
        this.isLoading = true
        this.$store.dispatch('login', {
          email: this.email,
          password: this.password
        }).then(() => {
          this.$router.push({ name: 'Main' });
          this.isLoading = false;
        })
        .catch(() => {
          this.error = true;
          this.isLoading = false;
        });
      }
    },
    resetPassword() {
      this.dialogOpen = true;
    },
    closeDialog() {
      this.dialogOpen = false;
    },
    sendResetPasswordEmail(email) {
      this.dialogOpen = false;
      this.$store.dispatch('sendEmailResetPassword', email).then(() => {
        this.showSnackbarOk = true;
      })
      .catch(err => {
        this.showSnackbarError = true;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 3rem 0;
  @media (max-width: 480px) {
    margin-bottom: 14rem;
  }
  &__form {
    margin-top: 1rem;
    width: 28rem;
    @media (max-width: 480px) {
      width: 90%;
    }
    &__actions {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }
    &--error {
      color: red;
    }
    &--reset-password {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
      margin-bottom: 0.5rem;  
    }
  }
  &__logo {
    width: 10rem;
  }
}
</style>
