<template>
  <div class="main-content">
    <img
      :src="logo"
      class="main-content__logo"/>
      <div class="main-content__central-text">
        <span class="main-content__central-text--welcome">
          {{ $t('main.welcome') }}
        </span>
        <span class="main-content__central-text--info">
          {{ $t('main.info') }}
        </span>
      </div>
    <div class="main-content__search-aditive">
      <v-text-field
        :label="$t('main.aditiveCode')"
        solo
        v-model="aditiveNumber"
        :error-messages="errorMessages"
        data-test="aditive-code"
        @keydown.enter="goToAditive"
      ></v-text-field>
      <v-btn
        @click.native="goToAditive"
        :loading="isLoading"
        data-test="search-button"
      >
        {{ $t('main.search') }}
      </v-btn>
    </div>
  </div>
</template>
<script>
import logo from '@/assets/logo-dielthy.png';
export default {
  name: 'Main',
  data() {
    return {
      logo: logo,
      aditiveNumber: '',
      errorMessages: null,
      isLoading: false
    };
  },
  methods: {
    goToAditive() {
      if (this.aditiveNumber === '') {
        this.errorMessages = this.$t('errors.emptyCode');
      } else {
        this.isLoading = true;
        this.$store.dispatch('loadAditiveInfo', this.aditiveNumber.slice(2, this.aditiveNumber.length))
          .then(() => {
            this.isLoading = false;
            this.$router.push({
              name: 'Aditive'
            })
            .catch(() => {
            });
          })
          .catch(() => {
            this.isLoading = false;
            this.errorMessages = this.$t('errors.noAditive');
          });
      }
    }
  },
  watch: {
    aditiveNumber: function(value) {
      if (value && value.length && this.aditiveNumber.indexOf('E') === -1) {
        this.aditiveNumber = `E-${value}`;
        this.errorMessages = null;
      } else if (value && value.length === 2) {
        this.aditiveNumber = '';
      } else if (value && value.length) {
        this.errorMessages = null;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 480px) {
    margin-bottom: 12rem;
  }
  &__logo {
    width: 12rem;
    margin-top: 1.5rem;
  }
  &__central-text {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    color: black;
  }
  &__search-aditive {
    width: 16rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}
</style>
