<template>
  <div class="privacity-policy">
    <div class="header">
      <v-btn 
        @click.native="goBack"
        text
        data-test="back-to-register"
      >
        <v-icon>
          {{icons.arrow}}
        </v-icon>
        {{ $t('privacityPolicy.goBack') }}
      </v-btn>
      <p>
        <strong>
          {{ $t('privacityPolicy.title') }}
        </strong>
      </p>
    </div>
    <p>
      &nbsp;
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.infoSubtitle') }}
    </p>
    <p class="paragraph">
      <strong>
        {{ $t('privacityPolicy.info') }}
      </strong>
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.informationType') }}
    </p>
    <p class="paragraph">
      <strong>
        {{ $t('privacityPolicy.informationUse') }}
      </strong>
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.informationUseObjective') }}
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.compromise') }}
    </p>
    <p class="paragraph">
      <strong>
        {{ $t('privacityPolicy.links') }}
      </strong>
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.linksInfo') }}
    </p>
    <p class="paragraph">
      <strong>
        {{ $t('privacityPolicy.informationControlTitle') }}
      </strong>
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.restrictInfo') }}
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.notSellInfo') }}
    </p>
    <p class="paragraph">
      {{ $t('privacityPolicy.rightToChange') }}
    </p>
  </div>
</template>
<script>
import { mdiArrowLeft } from '@mdi/js';
export default {
  name: 'PrivacityPolicy',
  data() {
    return {
      icons: {
        arrow: mdiArrowLeft
      }
    };
  },
  methods: {
    goBack() {
      this.$router.push('/register');
    }
  }
};
</script>
<style lang="scss" scoped>
.paragraph {
  text-align: justify;
  margin: 1rem;
}
.header {
  display: flex;
  @media (max-width: 480px) {
    flex-direction: column;
    .v-btn {
      margin-right: auto;
    }
  }
  p {
    margin: auto;
  }
}
.privacity-policy {
  margin-bottom: 7rem;
}
</style>