<template>
  <div
    class="profile"
    :class="{ loading : loading, 'no-user': userNotFound }">
    <v-progress-circular
      indeterminate
      v-if="loading"
    />
    <div v-else>
      <div
        v-if="userNotFound"
        class="no-user"
      >
        {{ $t('showProfile.errors.notFound') }}
      </div>
      <div v-else>
        <v-subheader
          class="subheader"
          v-if="!verified && $route.params.id === uid"
          data-test="verified-subheader"
        >
          {{ $t('showProfile.buttons.notVerified.info') }}
          <span
            class="subheader__link"
            @click="sendEmail"
          >
            {{ $t('showProfile.buttons.notVerified.link') }}
          </span>
        </v-subheader>
        <v-subheader
          class="subheader"
          v-if="userDeleted"
        >
          {{ $t('showProfile.deletedUser', {reason: differentUser.motivo}) }}
        </v-subheader>
        <v-icon
          class="profile__icon"
          :size="isEdit ? '5rem' : '8rem'"
        >
          {{ icons.user }}
        </v-icon>
        <div
          class="username"
          v-if="!isEdit"
          data-test="show-profile-username"
        >
          {{ differentUser.usuario || usernameState }}
          <v-tooltip
            bottom
            v-if="$route.params.id === uid"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                @click.native="edit"
                data-test="edit-button"
                v-on="on"
              >
                <v-icon>
                  {{ icons.edit }}
                </v-icon>
              </v-btn>
            </template>
            <span>
              {{ $t('showProfile.labels.edit') }}
            </span>
          </v-tooltip>
          <v-tooltip
            bottom
            v-if="$route.params.id !== uid && $store.state.user.userInfo.admin && !userDeleted"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                @click.native="openDialogDelete"
                data-test="delete-button"
                v-on="on"
              >
                <v-icon color="error">
                  {{ icons.delete }}
                </v-icon>
              </v-btn>
            </template>
            <span>
              {{ $t('showProfile.labels.delete') }}
            </span>
          </v-tooltip>
          </div>
          <div
            v-if="!isEdit"
            class="profile__show-profile"
          >
            <div class="profile__show-profile__element">
              <div>
                {{ $t('showProfile.labels.name') }}
              </div>
              <div data-test="name-show-profile">
                {{
                  Object.keys(differentUser).length
                    ? (differentUser.nombre || $t('showProfile.labels.empty'))
                    : (nameState || $t('showProfile.labels.empty'))
                }}
              </div>
            </div>
            <div class="profile__show-profile__element">
              <div>
                {{ $t('showProfile.labels.email') }}
              </div>
              <div data-test="email-show-profile">
                {{ differentUser.email || emailState }}
              </div>
            </div>
            <div class="profile__show-profile__element">
              <div>
                {{ $t('showProfile.labels.birthDate') }}
              </div>
              <div data-test="birthDate-show-profile">
                {{
                  Object.keys(differentUser).length
                    ? (differentUser.fechaNacimiento || $t('showProfile.labels.empty'))
                    : (birthDateState || $t('showProfile.labels.empty'))
                }}
              </div>
            </div>
            <div class="profile__show-profile__element">
              <div>
                {{ $t('showProfile.labels.dietTypes') }}
              </div>
              <div v-if="!differentUser.tiposDieta">
                <div
                  v-for="(type, index) in dietTypesState"
                  :key="index"
                  :data-test="`dietTypes-show-profile${index}`"
                  class="profile__show-profile__element--diet"
                >
                  {{
                    type === 'none' ? $t('registerForm.dietTypes.checkbox.none')
                    : type === 'cel' ? $t('registerForm.dietTypes.checkbox.cel')
                    : type === 'veg' ? $t('registerForm.dietTypes.checkbox.veg')
                    : type === 'lac' ? $t('registerForm.dietTypes.checkbox.lac') : ''
                  }}
                </div>
              </div>
              <div v-else>
                <div
                  v-for="(type, index) in differentUser.tiposDieta"
                  :key="index"
                  :data-test="`dietTypes-show-profile${index}`"
                  class="profile__show-profile__element--diet"
                >
                  {{
                    type === 'none' ? $t('registerForm.dietTypes.checkbox.none')
                    : type === 'cel' ? $t('registerForm.dietTypes.checkbox.cel')
                    : type === 'veg' ? $t('registerForm.dietTypes.checkbox.veg')
                    : type === 'lac' ? $t('registerForm.dietTypes.checkbox.lac') : ''
                  }}
                </div>
              </div>
            </div>
          </div>
          <div v-if="isEdit">
            <v-form
              ref="edit-profile-form"
              v-model="valid"
              class="profile__edit-profile"
              lazy-validation
            >
              <v-text-field
                solo
                v-model="emailState"
                data-test="email-edit-profile"
                :label="$t('showProfile.labels.email')"
                disabled
              ></v-text-field>
              <v-text-field
                solo
                v-model="editInfo.password"
                :rules="passwordRules"
                type="password"
                data-test="password-edit-profile"
                :label="$t('showProfile.labels.password')"
              ></v-text-field>
              <v-text-field
                solo
                v-model="editInfo.password2"
                :rules="password2Rules"
                required
                type="password"
                data-test="password2-edit-profile"
                :label="$t('showProfile.labels.password2')"
              ></v-text-field>
              <v-text-field
                solo
                v-model="editInfo.username"
                :rules="usernameRules"
                required
                data-test="username-edit-profile"
                :label="$t('showProfile.labels.username')"
              ></v-text-field>
              <v-text-field
                solo
                v-model="editInfo.name"
                data-test="name-edit-profile"
                :label="$t('showProfile.labels.name')"
              ></v-text-field>
              <v-dialog
                ref="dialog"
                v-model="showPicker"
                :return-value.sync="editInfo.birthDate"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="editInfo.formattedDate"
                    :label="$t('registerForm.birthDate.label')"
                    :prepend-icon="icons.calendar"
                    readonly
                    v-on="on"
                    data-test="birthDate-edit-profile"
                    clearable
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="editInfo.birthDate"
                  no-title
                  scrollable
                  :max="new Date().toISOString().substr(0, 10)"
                  ref="picker"
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="closeDialog"
                    data-test="cancel-button-profile"
                  >
                    {{ $t('showProfile.buttons.cancel') }}
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="saveFormattedDate(editInfo.birthDate)"
                    data-test="ok-button-profile"
                  >
                    {{ $t('showProfile.buttons.ok') }}
                  </v-btn>
                </v-date-picker>
              </v-dialog>
              <div class="diet-types">
                {{ $t('registerForm.dietTypes.label') }}
                <div>
                  <v-checkbox
                    v-model="editInfo.dietTypes"
                    :label="$t('registerForm.dietTypes.checkbox.cel')"
                    value="cel"
                    data-test="checkbox-edit-cel"
                    @change="changeAnyCheckbox"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="editInfo.dietTypes"
                    :label="$t('registerForm.dietTypes.checkbox.veg')"
                    value="veg"
                    @change="changeAnyCheckbox"
                    data-test="checkbox-edit-veg"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="editInfo.dietTypes"
                    :label="$t('registerForm.dietTypes.checkbox.lac')"
                    value="lac"
                    @change="changeAnyCheckbox"
                    data-test="checkbox-edit-lac"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="editInfo.dietTypes"
                    :label="$t('registerForm.dietTypes.checkbox.none')"
                    value="none"
                    data-test="checkbox-edit-none"
                    @change="isNoneChecked = !isNoneChecked"
                  ></v-checkbox>
                </div>
              </div>
              <div class="bottom-buttons">
                <v-btn
                  @click.native="save"
                  data-test="save-button"
                  :loading="isSaving"
                  color="success"
                >
                  {{ $t('showProfile.buttons.save') }}
                </v-btn>
                <v-btn
                  @click.native="cancel"
                  data-test="cancel-button"
                  color="error"
                >
                  {{ $t('showProfile.buttons.cancel') }}
                </v-btn>
              </div>
            </v-form>      
          </div>
        <v-snackbar
          :timeout="4000"
          v-model="showSnackbarEmailSent"
        >
          <span>
            {{ $t('showProfile.emailSent') }}
          </span>
        </v-snackbar>
        <v-snackbar
          :timeout="4000"
          v-model="showSnackbarErrorUpdated"
        >
          <span>
            {{ $t('showProfile.errors.updated') }}
          </span>
        </v-snackbar>
        <v-snackbar
          :timeout="4000"
          v-model="showSnackbarUpdated"
        >
          <span>
            {{ $t('showProfile.updated') }}
          </span>
        </v-snackbar>
      </div>
      <v-dialog
        v-model="dialogDelete"
        persistent
        max-width="30rem"
      >
        <div class="dialog-confirm-delete">
          <div>
            {{ $t('showProfile.labels.dialogDelete.question') }}
          </div>
          <v-form
            ref="reasonDelete"
            v-model="deleteValid"
          >
            <v-textarea
              outlined
              v-model="reason"
              :rules="reasonRules"
              :placeholder="$t('showProfile.labels.dialogDelete.reason')"
            ></v-textarea>
          </v-form>
          <div class="dialog-confirm-delete__actions">
            <v-btn
              @click.native="closeDialogDelete"
              color="error"
            >
              {{ $t('showProfile.labels.dialogDelete.cancel') }}
            </v-btn>
            <v-btn
              @click.native="deleteUser"
              data-test="confirm-button"
              color="success"
            >
              {{ $t('showProfile.labels.dialogDelete.confirm') }}
            </v-btn>
          </div>
        </div>
      </v-dialog>
      <v-snackbar
        :timeout="4000"
        v-model="showSnackbarErrorDeleted"
      >
        <span>
          {{ $t('showProfile.errors.deleted') }}
        </span>
      </v-snackbar>
      <v-snackbar
        :timeout="3500"
        v-model="showSnackbarDeleted"
        data-test="deleted-success"
      >
        <span>
          {{ $t('showProfile.deleted') }}
        </span>
      </v-snackbar>
    </div>
  </div>
</template>
<script>
import { mdiAccountCircle, mdiPencil, mdiCalendarRange, mdiDelete } from '@mdi/js';
import { mapState } from 'vuex';
import UserService from '../api/user';
import { getDate } from '../utils/sharedFunctions';

const userService = new UserService();

export default {
  name: 'Profile',
  data() {
    return {
      icons: {
        user: mdiAccountCircle,
        edit: mdiPencil,
        calendar: mdiCalendarRange,
        delete: mdiDelete
      },
      isEdit: false,
      editInfo: {
        username: '',
        password: '',
        password2: '',
        name: '',
        birthDate: null,
        dietTypes: [],
        formattedDate: null,
      },
      passwordRules: [
        v => {
          if (v && v.length < 5) {
            return this.$t('registerForm.errors.password.lessThanSix');
          } else {
            return true;
          }
        }
      ],
      password2Rules: [
        v => v === this.editInfo.password || this.$t('registerForm.errors.password.notEquals')
      ],
      usernameRules: [
        v => !!v || this.$t('registerForm.errors.username.empty')
      ],
      reasonRules: [
        v => !!v || this.$t('showProfile.errors.reasonEmpty')
      ],
      valid: true,
      menu: false,
      showPicker: false,
      checkboxDisabled: true,
      showSnackbarEmailSent: false,
      showSnackbarErrorUpdated: false,
      showSnackbarUpdated: false,
      showSnackbarErrorDeleted: false,
      showSnackbarDeleted: false,
      differentUser: {},
      loading: true,
      isSaving: false,
      isNoneChecked: false,
      isAnyChecked: false,
      dialogDelete: false,
      userNotFound: false,
      userDeleted: false,
      deleteValid: true,
      reason: ''
    };
  },
  computed: {
    ...mapState({
      usernameState: state => state.user.userInfo.username,
      emailState: state => state.user.userInfo.email,
      nameState: state => state.user.userInfo.name,
      birthDateState: state => state.user.userInfo.birthDate,
      dietTypesState: state => Object.values(state.user.userInfo.dietTypes),
      verified: state => state.user.userInfo.emailVerified,
      uid: state => state.user.userInfo.uid
    }),
    getRouteParam() {
      return this.$route.params.id;
    }
  },
  methods: {
    saveFormattedDate(date) {
      if (date) {
        const newDate = date.split('-');
        this.editInfo.formattedDate = `${newDate[2]}-${newDate[1]}-${newDate[0]}`;
      }
      this.$refs.dialog.save(date); 
    },
    closeDialog() {
      this.showPicker = false
    },
    edit() {
      this.editInfo.username = this.usernameState;
      this.editInfo.name = this.nameState && this.nameState.length ? this.nameState : '';
      if (this.birthDateState) {
        this.editInfo.birthDate = getDate(this.birthDateState, false).toISOString();
        this.editInfo.formattedDate = this.birthDateState;
      }
      this.editInfo.dietTypes = this.dietTypesState;
      if (this.editInfo.dietTypes.includes('none')) {
        this.isNoneChecked = true;
      } else {
        this.isAnyChecked = true;
      }
      this.isEdit = true;
    },
    cancel() {
      this.isEdit = false;
      this.isNoneChecked = false;
      this.isAnyChecked = false;
    },
    sendEmail() {
      this.$store.dispatch('sendEmail');
      this.showSnackbarEmailSent = true;
    },
    save() {
      this.$refs['edit-profile-form'].validate();
      if (this.valid) {
        this.isSaving = true;
        this.$store.dispatch('updateUserInfo', {
          username: this.editInfo.username,
          password: this.editInfo.password.length ? this.editInfo.password : null,
          birthDate: this.editInfo.formattedDate,
          name: this.editInfo.name,
          dietTypes: this.editInfo.dietTypes
        }).then(() => {
          this.isSaving = false;
          this.loading = true;
          return this.$store.dispatch('loadUserInfo');
        })
        .then(res => {
          if (res) {
            this.showSnackbarUpdated = true;
          }
          this.isEdit = false;
          this.isNoneChecked = false;
          this.isAnyChecked = false;
          this.loading = false;
        })
        .catch(() => {
          this.showSnackbarErrorUpdated = true;
          this.isSaving = false;
          this.isEdit = false;
          this.isNoneChecked = false;
          this.isAnyChecked = false;
          this.loading = false;
        });
      }
    },
    openDialogDelete() {
      this.dialogDelete = true;
    },
    closeDialogDelete() {
      this.$refs.reasonDelete.resetValidation();
      this.dialogDelete = false;
      this.reason = '';
    },
    deleteUser() {
      this.$refs.reasonDelete.validate();
      if (this.deleteValid) {
        this.dialogDelete = false;
        this.loading = true;
        userService.deleteUserInfo(this.$route.params.id, this.reason).then(() => {
          this.userDeleted = true;
          this.differentUser.motivo = this.reason;
          this.loading = false;
          this.showSnackbarDeleted = true;
        }).catch(() => {
          this.loading = false;
          this.showSnackbarErrorDeleted = true;
          this.reason = '';
        });
      }
    },
    changeAnyCheckbox() {
      if (!this.isAnyChecked) {
        this.isAnyChecked = true;
        if (this.editInfo.dietTypes.indexOf('none') !== -1) {
          var i = this.editInfo.dietTypes.indexOf('none');
          i !== -1 && this.editInfo.dietTypes.splice( i, 1 );
          this.isNoneChecked = false;
        }
      }
    }
  },
  watch: {
    isNoneChecked: function(value) {
      if (value) {
        if (this.editInfo.dietTypes.length > 1) {
          this.isAnyChecked = false;
          this.editInfo.dietTypes = ['none'];
        }
      }
    },
    getRouteParam: function(value) {
      if (value === this.uid) {
        this.differentUser = {};
        this.userNotFound = false;
        this.userDeleted = false;
      } else {
        this.loading = true;
        userService.getUserInfo(this.$route.params.id).then(res => {
          if (res.data()) {
            this.differentUser = res.data();
            this.loading = false;
          } else {
            if (sessionStorage.admin === 'true') {
              userService.getDeletedUserInfo(this.$route.params.id).then(res => {
                if (res.data()) {
                  this.differentUser = res.data();
                  this.userDeleted = true;
                  this.loading = false;
                } else {
                  this.userNotFound = true;
                  this.loading = false;
                }
              }).catch(() => {
                this.userNotFound = true;
                this.loading = false;
              });
            } else {
              this.userNotFound = true;
              this.loading = false;
            }
          }
        }).catch(() => {
          this.userNotFound = true;
          this.loading = false;
        });
      }
    },
    showPicker: function(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  mounted() {
    if (this.$route.params.id !== this.uid) {
      userService.getUserInfo(this.$route.params.id).then(res => {
        if (res.data()) {
          this.differentUser = res.data();
          this.loading = false;
        } else {
          if (sessionStorage.admin === 'true') {
            userService.getDeletedUserInfo(this.$route.params.id).then(res => {
              if (res.data()) {
                this.differentUser = res.data();
                this.userDeleted = true;
                this.loading = false;
              } else {
                this.userNotFound = true;
                this.loading = false;
              }
            }).catch(() => {
              this.userNotFound = true;
              this.loading = false;
            });
          } else {
            this.userNotFound = true;
            this.loading = false;
          }
        }
      }).catch(() => {
        this.userNotFound = true;
        this.loading = false;
      });
    } else {
      this.differentUser = {};
      this.loading = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.username {
  font-weight: bold;
  font-size: 16pt;
  margin-top: 1rem;
}
.subheader {
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    height: 53px;
  }
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  color: crimson !important;
  background-color: lightgrey;
  font-size: 11pt;
  &__link {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.25rem;
    &:active {
      color: rebeccapurple;
    }
  }
}
.profile {
  margin-bottom: 8rem;
  &__icon {
    margin-top: 0.5rem;
  }
  @media (max-width: 480px) {
    &__icon {
      width: 6rem !important;
      height: 6rem !important;
    }
  }
  &.loading {
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &.no-user {
    height: 80%;
    margin-bottom: 0;
  }
  &__show-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    &__element {
      display: flex;
      width: 35%;
      justify-content: space-between;
      margin-bottom: 1.2rem;
      @media (max-width: 480px) {
        width: 92%;
      }
      &--diet {
        text-align: right;
        margin-bottom: 0.5rem;
      }
    }
  }
  &__edit-profile {
    width: 28rem;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 2rem auto;
    @media (max-width: 480px) {
      width: 87%;
    }
    .diet-types {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
    .bottom-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}
.v-input--selection-controls {
  margin-top: 0;
  padding-top: 0;
}
.dialog-confirm-delete {
  background-color: white;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
.no-user {
  height: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.v-icon {
  color: rgb(53, 51, 51) !important;
}
</style>