<template>
  <div
    class="register-form"
    :class="{ loading: loading }"
  >
    <v-progress-circular
      indeterminate
      v-if="loading"
    />
    <div v-else>
      <v-form
        ref="register-form"
        v-model="valid"
        class="register-form__form"
      >
        <v-text-field
          solo
          :placeholder="$t('registerForm.email.placeholderEmail')"
          v-model="email"
          :rules="emailRules"
          required
          data-test="email"
          :label="$t('registerForm.email.label')"
          :hint="$t('requiredField')"
          persistent-hint
        ></v-text-field>
        <v-text-field
          solo
          v-model="password"
          :rules="passwordRules"
          required
          type="password"
          data-test="password"
          :label="$t('registerForm.password.label')"
          :hint="$t('requiredField')"
          persistent-hint
        ></v-text-field>
        <v-text-field
          solo
          v-model="password2"
          :rules="password2Rules"
          required
          type="password"
          data-test="password2"
          :label="$t('registerForm.password2.label')"
          :hint="$t('requiredField')"
          persistent-hint
        ></v-text-field>
        <v-text-field
          solo
          v-model="username"
          :rules="usernameRules"
          required
          data-test="username"
          :label="$t('registerForm.username.label')"
          :hint="$t('requiredField')"
          persistent-hint
        ></v-text-field>
        <v-text-field
          solo
          v-model="name"
          data-test="name"
          :label="$t('registerForm.name.label')"
        ></v-text-field>
        <v-dialog
          ref="dialog"
          v-model="showPicker"
          :return-value.sync="birthDate"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="formattedDate"
              :label="$t('registerForm.birthDate.label')"
              :prepend-icon="icons.calendar"
              readonly
              v-on="on"
              data-test="birthDate"
              clearable
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="birthDate"
            no-title
            scrollable
            :max="new Date().toISOString().substr(0, 10)"
            ref="picker"
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="closeDialog"
              data-test="cancel-button"
            >
              {{ $t('registerForm.birthDate.dialog.cancel') }}
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="saveFormattedDate(birthDate)"
              data-test="ok-button"
            >
              {{ $t('registerForm.birthDate.dialog.ok') }}
            </v-btn>
          </v-date-picker>
        </v-dialog>
        <div class="diet-types">
          {{ $t('registerForm.dietTypes.label') }}
          <div class="diet-types__selection">
            <v-checkbox
              v-model="dietTypes"
              :label="$t('registerForm.dietTypes.checkbox.cel')"
              value="cel"
              data-test="checkbox-cel"
              @change="changeAnyCheckbox"
            ></v-checkbox>
            <v-checkbox
              v-model="dietTypes"
              :label="$t('registerForm.dietTypes.checkbox.veg')"
              value="veg"
              data-test="checkbox-veg"
              @change="changeAnyCheckbox"
            ></v-checkbox>
            <v-checkbox
              v-model="dietTypes"
              :label="$t('registerForm.dietTypes.checkbox.lac')"
              value="lac"
              data-test="checkbox-lac"
              @change="changeAnyCheckbox"
            ></v-checkbox>
            <v-checkbox
              v-model="dietTypes"
              :label="$t('registerForm.dietTypes.checkbox.none')"
              value="none"
              data-test="checkbox-none"
              @change="isNoneChecked = !isNoneChecked"
            ></v-checkbox>
          </div>
        </div>
        <div class="flex-container">
          <v-switch
            :false-value="false"
            :true-value="true"
            v-model="acceptedPrivacityPolicy"
            data-test="switch"
          >
          </v-switch>
          <span class="switch-text">
            {{ $t('registerForm.privacity.label') }}
          </span>
          <router-link
            to="/privacity"
            @click.native="goPrivacity"
            data-test="privacity-link"
          >
            {{ $t('registerForm.privacity.link') }}
          </router-link>
        </div>
        <v-btn
          @click.native="register"
          :disabled="!acceptedPrivacityPolicy"
          data-test="register-button"
          class="button-register"
        >
          {{ $t('loginRegister.register') }}
        </v-btn>
      </v-form>
      <v-snackbar
        :timeout="4000"
        v-model="showSnackbarOk"
      >
        <span>
          {{ $t('registerForm.completedMessages.success') }}
        </span>
      </v-snackbar>
      <v-snackbar
        :timeout="4000"
        v-model="showSnackbarError"
      >
        <span>
          {{ $t('registerForm.completedMessages.error') }}
        </span>
      </v-snackbar>
    </div>
  </div>
</template>
<script>
import { mdiCalendarRange } from '@mdi/js';
import { mapState } from 'vuex';
export default {
  name: 'Register',
  data() {
    return {
      showPicker: false,
      checkboxDisabled: false,
      email: '',
      emailRules: [
        v => !!v || this.$t('registerForm.errors.email.empty'),
        v => /.+@.+\..+/.test(v) || this.$t('registerForm.errors.email.notValid')
      ],
      password: '',
      passwordRules: [
        v => !!v || this.$t('registerForm.errors.password.empty'),
        v => v.length > 5 || this.$t('registerForm.errors.password.lessThanSix')
      ],
      password2: '',
      password2Rules: [
        v => (!!v && v === this.password) || this.$t('registerForm.errors.password.notEquals')
      ],
      username: '',
      usernameRules: [
        v => !!v || this.$t('registerForm.errors.username.empty')
      ],
      name: '',
      birthDate: null,
      isNoneChecked: false,
      isAnyChecked: false,
      dietTypes: [],
      valid: true,
      formattedDate: null,
      icons: {
        calendar: mdiCalendarRange
      },
      showSnackbarOk: false,
      showSnackbarError: false,
      acceptedPrivacityPolicy: false,
      loading: false
    };
  },
  computed: {
    ...mapState({
      emailForm: state => state.user.registerForm.email,
      usernameForm: state => state.user.registerForm.username,
      passwordForm: state => state.user.registerForm.password,
      password2Form: state => state.user.registerForm.password2,
      nameForm: state => state.user.registerForm.name,
      birthDateForm: state => state.user.registerForm.birthDate,
      dietTypesForm: state => state.user.registerForm.dietTypes,
    })
  },
  mounted() {
    if (this.emailForm.length) {
      this.email = this.emailForm;
      this.username = this.usernameForm;
      this.email = this.emailForm;
      this.password = this.passwordForm;
      this.password2 = this.password2Form;
      this.name = this.nameForm;
      this.formattedDate = this.birthDateForm;
      this.dietTypes = this.dietTypesForm;
      this.$store.dispatch('clearRegisterForm');
    }
  },
  methods: {
    register() {
      this.$refs['register-form'].validate();
      if (this.valid) {
        this.loading = true;
        this.$store.dispatch('createUser', {
          email: this.email,
          password: this.password,
          username: this.username,
          name: this.name,
          birthDate: this.formattedDate,
          dietTypes: this.dietTypes.length > 0 ? this.dietTypes : ['none']
        })
        .then(() => {
          this.loading = false;
          this.showSnackbarOk = true;
          setTimeout(() => {
            this.$router.push('/');
          }, 3000);
        })
        .catch(() => {
          this.loading = false;
          this.showSnackbarError = true;
        });
      }
    },
    saveFormattedDate(date) {
      if (date) {
        const newDate = date.split('-');
        this.formattedDate = `${newDate[2]}-${newDate[1]}-${newDate[0]}`;
      }
      this.$refs.dialog.save(date); 
    },
    closeDialog() {
      this.showPicker = false
    },
    goPrivacity() {
      window.scrollTo(0,0);
      this.$store.dispatch('saveStateRegister', {
        email: this.email,
        password: this.password,
        password2: this.password2,
        username: this.username,
        name: this.name,
        birthDate: this.formattedDate,
        dietTypes: this.dietTypes
      });
    },
    changeAnyCheckbox() {
      if (!this.isAnyChecked) {
        this.isAnyChecked = true;
        if (this.dietTypes.indexOf('none') !== -1) {
          var i = this.dietTypes.indexOf('none');
          i !== -1 && this.dietTypes.splice( i, 1 );
          this.isNoneChecked = false;
        }
      }
    }
  },
  watch: {
    showPicker: function(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    isNoneChecked: function(value) {
      if (value) {
        if (this.dietTypes.length > 1) {
          this.isAnyChecked = false;
          this.dietTypes = ['none'];
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 7rem 0;
  @media (max-width: 480px) {
    width: 100%;
  }
  &.loading {
    height: 90%;
    justify-content: center;
    margin: 0;
  }
  &__form {
    width: 28rem;
    @media (max-width: 480px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .diet-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    @media (max-width: 480px) {
      margin-left: 2rem;
      &__selection {
        width: 63%;
        margin-left: 0.4rem;
      }
    }
  }
}
.v-input--selection-controls {
  margin-top: 0;
  padding-top: 0;
}
.flex-container {
  display: flex;
  .switch-text {
    margin-right: 0.3rem;
  }
}
@media (max-width: 480px) {
  .v-input {
    width: 20rem;
  }
  .v-input--switch {
    width: 3rem !important;
  }
  .button-register {
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
