<template>
  <div
    class="reports-page"
    :class="{ loading : loading }"
  >
    <v-progress-circular
      indeterminate
      v-if="loading"
    />
    <div v-else>
      <div
        class="reports-page__filters"
      >
        <div class="filter">
          <v-text-field
            solo
            v-model="filterUsername"
            :placeholder="$t('reports.filters.username')"
            data-test="filter-user"
          />
        </div>
      </div>
      <div
        class="reports-page__reports"
        v-if="reportsList.length"
      >
        <report-info
          v-for="(report,index) in reportsList"
          :key="`report${index}`"
          :info="report"
          data-test="report-info"
          @delete="commentDeleted"
          @dismiss="reportDismissed"
        />
        <div class="pagination">
          <v-pagination
            v-model="page"
            :length="pagesLength"
            circle
            :total-visible="4"
            v-if="pagesLength > 1"
            data-test="pagination"
          />
        </div>
      </div>
      <div
        class="reports-page__no-reports"
        v-else
        data-test="no-reports"
      >
        {{ $t('reports.noReports') }}
      </div>
    </div>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDeleteSuccess"
      data-test="deleted-comment"
    >
      <span>
        {{ $t('reports.deleted') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDeleteError"
    >
      <span>
        {{ $t('reports.errorDelete') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDismissSuccess"
      data-test="dismissed-report"
    >
      <span>
        {{ $t('reports.dismissed') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDismissError"
    >
      <span>
        {{ $t('reports.errorDismiss') }}
      </span>
    </v-snackbar>
  </div>
</template>
<script>
import ReportInfo from '../components/report-info/ReportInfo';
import { getDate } from '../utils/sharedFunctions';
import CommentsService from '../api/comments';
const commentsService = new CommentsService();

export default {
  name: 'Reports',
  components: {
    ReportInfo
  },
  data() {
    return {
      page: 1,
      loading: true,
      filterUsername: '',
      reports: [],
      reportsFiltered: [],
      showSnackbarDeleteError: false,
      showSnackbarDeleteSuccess: false,
      showSnackbarDismissError: false,
      showSnackbarDismissSuccess: false
    };
  },
  computed: {
    reportsList() {
      return this.reportsFiltered.slice(10 * (this.page - 1), 10 * this.page);
    },
    pagesLength() {
      return this.reportsFiltered.length % 10 !== 0 ? parseInt(this.reportsFiltered.length / 10) + 1 : this.reportsFiltered.length / 10;
    }
  },
  methods: {
    filter() {
      this.reportsFiltered = this.reportsFiltered.filter(report => {
        const users = report.usuariosReporte.map(item => item.usuarioReporte);
        return !!users.find(el => el.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').includes(
          this.filterUsername.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '')
        ));
      });
    },
    commentDeleted(info) {
      this.loading = true;
      this.reports = [];
      this.reportsFiltered = [];
      this.filterUsername = '';
      this.page = 1;
      commentsService.deleteCommentFromReports(info).then(() => {
        this.showSnackbarDeleteSuccess = true;
        commentsService.loadReports().then(res => {
          res.forEach(doc => {
            this.reports.push({ ...doc.data(), idReporte: doc.id })
          });
          if (this.reports.length) {
            this.reports.sort((a, b) => {
              a.reportes > b.reportes ? -1 : 1;
            });
          }
          this.reportsFiltered = this.reports;
          this.loading = false;
        })
          .catch(() => {
            this.loading = false;
          });
      }).catch(() => {
        this.showSnackbarDeleteError = true;
        this.loading = false;
      });
    },
    reportDismissed(info) {
      this.loading = true;
      commentsService.dismissCommentReports(info).then(() => {
        this.showSnackbarDismissSuccess = true;
        this.reports = [];
        this.reportsFiltered = [];
        this.filterUsername = '';
        this.page = 1;
        commentsService.loadReports().then(res => {
          res.forEach(doc => {
            this.reports.push({ ...doc.data(), idReporte: doc.id })
          });
          if (this.reports.length) {
            this.reports.sort((a, b) => {
              a.reportes > b.reportes ? -1 : 1;
            });
          }
          this.reportsFiltered = this.reports;
          this.loading = false;
        })
          .catch(() => {
            this.loading = false;
          });
      }).catch(() => {
        this.showSnackbarDismissError = true;
        this.loading = false;
      });
    }
  },
  watch: {
    filterUsername: function(value) {
      setTimeout(() => {
        if (value) {
          this.filter();
        } else {
          this.reportsFiltered = this.reports;
        }
      }, 1000)
    },
    page: function(value) {
      window.scrollTo(0, 0);
    }
  },
  mounted() {
    commentsService.loadReports().then(res => {
      res.forEach(doc => {
        this.reports.push({ ...doc.data(), idReporte: doc.id })
      });
      if (this.reports.length) {
        this.reports.sort((a, b) => a.reportes > b.reportes ? -1 : 1);
      }
      this.reportsFiltered = this.reports;
      this.loading = false;
    })
      .catch(() => {
        this.loading = false;
      });
  }
};
</script>
<style lang="scss" scoped>
.reports-page {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  &.loading {
    height: 90%;
    justify-content: center;
    align-items: center;
  }
  &__filters {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
    .filter {
      width: 17rem;
      margin-left: 2.5rem;
      @media (max-width: 480px) {
        width: 20rem;
        margin-left: 1.3rem;
      }
    }    
  }
  &__reports {
    margin-bottom: 1.5rem;
    .pagination {
      margin-top: 1rem;
      margin-left: 1.5rem;
      display: flex;
      width: fit-content;
    }
  }
  &__no-reports {
    margin-top: 1.5rem;
  }
}
</style>
