<template>
  <div :class="{ loading : loading }">
    <v-progress-circular
      indeterminate
      v-if="loading"
    />
    <div
      v-else
      class="topic-content"
    >
      <div
        class="topic-content__header"
        :class="{ 'no-comments': commentsList.length === 0 }"
      >
        <div class="topic-content__header--title">
          <div class="name">
            {{ topicData.nombre }}
          </div>
          <div class="created">
            {{ $t('forum.comments.created', { date: topicData.creado }) }}
          </div>
        </div>
        <div class="comment">
          <v-btn
            width="12rem"
            @click.native="openDialog({ isAnswer: false })"
            :disabled="!topicData.nombre.length"
            data-test="add-comment-button"
          >
            {{ $t('forum.comments.commentButton') }}
          </v-btn>
        </div>
      </div>
      <div
        v-if="commentsList.length !== 0"
        class="topic-content__comments"
      >
        <comment-topic
          v-for="(comment, index) in commentsList"
          :key="`comentario${index}`"
          :info="comment"
          :isAnswer="false"
          @open="openDialog"
          data-test="comment"
          @report="reportComment"
          @deleteComment="deleteComment"
        />
      </div>
      <div
        v-else
        class="no-comments"
      >
        {{ $t('forum.comments.noComments') }}  
      </div>
      <div class="pagination">
        <v-pagination
          v-model="page"
          :length="pagesLength"
          circle
          :total-visible="4"
          v-if="pagesLength > 1"
          data-test="pagination"
        />
      </div>
      <add-comment
        :dialogOpen="dialogOpen"
        @close="closeDialog"
        :isAnswer="isAnswer"
      ></add-comment>
    </div>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarReportOk"
      data-test="reported-comment"
    >
      <span>
        {{ $t('forum.comments.reportOk') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarReportError"
    >
      <span>
        {{ $t('forum.comments.reportError') }}
      </span>
    </v-snackbar>
    <v-dialog
      v-model="confirmReportOpen"
      persistent
      max-width="30rem"
    >
      <div class="dialog-confirm-report">
        <div>
          {{ $t('forum.comments.dialogReport.question') }}
        </div>
        <div class="dialog-confirm-report__actions">
          <v-btn
            @click.native="cancelReport"
            color="error"
          >
            {{ $t('forum.comments.dialogReport.cancel') }}
          </v-btn>
          <v-btn
            @click.native="sendReport"
            data-test="confirm-button"
            color="success"
          >
            {{ $t('forum.comments.dialogReport.confirm') }}
          </v-btn>
        </div>
      </div>
    </v-dialog>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDeleteOk"
      data-test="deleted-comment"
    >
      <span>
        {{ $t('forum.comments.deleteOk') }}
      </span>
    </v-snackbar>
    <v-snackbar
      :timeout="4000"
      v-model="showSnackbarDeleteError"
    >
      <span>
        {{ $t('forum.comments.deleteError') }}
      </span>
    </v-snackbar>
  </div>
</template>
<script>
import CommentTopic from '../components/comment-topic/CommentTopic';
import AddComment from '../components/add-comment/AddComment';
import CommentsService from '../api/comments';
import TopicsService from '../api/topics';
import { getDate } from '../utils/sharedFunctions';

const commentsService = new CommentsService();
const topicsService = new TopicsService();

export default {
  name: 'Topic',
  components: {
    CommentTopic,
    AddComment
  },
  data() {
    return {
      idTopic: this.$route.params.id,
      topicData: {
        nombre: '',
        creado: ''
      },
      comments: [],
      dialogOpen: false,
      isAnswer: null,
      page: 1,
      loading: true,
      idCommentToAnswer: null,
      showSnackbarReportError: false,
      showSnackbarReportOk: false,
      showSnackbarDeleteOk: false,
      showSnackbarDeleteError: false,
      confirmReportOpen: false,
      tmpInfo: null
    };
  },
  computed: {
    pagesLength() {
      return this.comments.length % 10 !== 0 ? parseInt(this.comments.length / 10) + 1 : this.comments.length / 10;
    },
    commentsList() {
      return this.comments.slice(10 * (this.page - 1), 10 * this.page);
    }
  },
  methods: {
    closeDialog(data) {
      const comment = data.comment;
      if (data.reload) {
        this.loading = true;
        const data = {
          comment,
          username: this.$store.state.user.userInfo.username,
          uidUser: this.$store.state.user.userInfo.uid,
        };
        this.comments = [];
        commentsService.addComment(this.idTopic, data, this.idCommentToAnswer).then(() => {
          return topicsService.updateTopic(this.idTopic, this.topicData.mens);
        })
          .then(() => {
            this.loadComments();
          })
          .catch(() => {
            this.loading = false;
          });
      }
      this.idCommentToAnswer = null;
      this.dialogOpen = false;
    },
    openDialog(isAnswer) {
      this.isAnswer = isAnswer.isAnswer;
      if (isAnswer.isAnswer) {
        this.idCommentToAnswer = isAnswer.id;
      }
      this.dialogOpen = true;
    },
    loadComments() {
      topicsService.loadTopicData(this.idTopic).then(res => {
        this.topicData = res.data();
        return commentsService.loadComments(this.idTopic);
      })
        .then(res => {
          res.forEach(doc => {
            this.comments.unshift({ ...doc.data(), id: doc.id })
          });
          if (this.comments.length !== 0) {
            this.comments.sort((a,b) => {
              return getDate(a.fecha, true) <
                getDate(b.fecha, true)
                  ? 1
                  : -1;
            });
          }
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    reportComment(info) {
      this.confirmReportOpen = true;
      this.tmpInfo = info;
    },
    sendReport() {
      this.confirmReportOpen = false;
      this.loading = true;
      commentsService.reportComment(this.idTopic, {...this.tmpInfo}, {idUsuarioReporte: this.$store.state.user.userInfo.uid,
        usuarioReporte: this.$store.state.user.userInfo.username
      }).then(() => {
        this.showSnackbarReportOk = true;
        this.loading = false;
        this.tmpInfo = null;
      })
        .catch(() => {
          this.showSnackbarReportError = true;
          this.loading = false;
          this.tmpInfo = null;
        });
    },
    cancelReport() {
      this.tmpInfo = null;
      this.confirmReportOpen = false;
    },
    deleteComment(data) {
      this.loading = true;
      commentsService.deleteCommentFromTopic(data, this.$route.params.id).then(()  => {
        this.comments = [];
        this.showSnackbarDeleteOk = true;
        this.loadComments();
      }).catch(() => {
        this.loading = false;
        this.showSnackbarDeleteError = true;
      });
    }
  },
  watch: {
    page: function(value) {
      window.scrollTo(0, 0);
    }
  },
  mounted() {
    this.loadComments();
  }
};
</script>
<style lang="scss" scoped>
.loading {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
}
.topic-content {
  margin-bottom: 6.5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid grey;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      &--title {
        align-self: flex-start;
      }
    }
    &.no-comments {
      margin-bottom: 2rem;
    }
    .name {
      font-size: 22pt;
      font-weight: bold;
      @media (max-width: 480px) {
        text-align: left;
      }
    }
    .created {
      font-size: 11pt;
      opacity: 0.6;
      @media (max-width: 480px) {
        text-align: left;
      }
    }
    .comment {
      margin-right: 1rem;
      @media (max-width: 480px) {
        margin-top: 0.5rem;
        align-self: flex-start;
        .v-btn {
          width: 8rem !important;
        }
      }
    }
  }
  .pagination {
    width: fit-content;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
}
.dialog-confirm-report {
  background-color: white;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
</style>
