<template>
  <div v-if="!isLoggedIn">
    <div class="no-mobile">
      <v-btn
        text
        data-test="login-text"
        @click.native="login"
      >
        {{ $t('loginRegister.login') }}        
      </v-btn>
      <v-btn
        text
        @click.native="register"
        data-test="register-text"
      >
        {{ $t('loginRegister.register') }}
      </v-btn>
    </div>
    <div class="mobile">
      <v-navigation-drawer
        v-model="drawerData"
        temporary
        absolute
        left
      >
        <v-btn
          text
          data-test="login-text"
          @click.native="login"
        >
          {{ $t('loginRegister.login') }}        
        </v-btn>
        <v-divider></v-divider>
        <v-btn
          text
          @click.native="register"
          data-test="register-text"
        >
          {{ $t('loginRegister.register') }}
        </v-btn>
      </v-navigation-drawer>
    </div>
  </div>
  <div v-else>
    <div class="no-mobile">
      <v-icon data-test="icon-user">
        {{icons.user}}
      </v-icon>
      <span data-test="username-text">
        {{ username }}
      </span>
      <v-btn
        text
        data-test="show-profile-text"
        @click.native="profile"
      >
        {{ $t('loginRegister.showProfile') }}      
      </v-btn>
      <v-btn
        text
        @click.native="openDialogLogout"
        data-test="logout-text"
      >
        {{ $t('loginRegister.logout') }}
      </v-btn>
    </div>
    <div class="mobile">
      <v-navigation-drawer
        v-model="drawerData"
        temporary
        absolute
        left
      >
        <div data-test="username-text">
          {{ username }}
        </div>
        <v-divider></v-divider>
        <v-btn
          text
          data-test="show-profile-text"
          @click.native="profile"
        >
          {{ $t('loginRegister.showProfile') }}      
        </v-btn>
        <v-divider></v-divider>
        <v-btn
          text
          @click.native="openDialogLogout"
          data-test="logout-text"
        >
          {{ $t('loginRegister.logout') }}
        </v-btn>
      </v-navigation-drawer>
    </div>
    <v-dialog
      v-model="dialogLogout"
      persistent
      max-width="30rem"
    >
      <div class="dialog-logout">
        <div>
          {{ $t('loginRegister.dialogLogout.question') }}
        </div>
        <div class="dialog-logout__actions">
          <v-btn
            @click.native="closeDialogLogout"
            color="error"
          >
            {{ $t('loginRegister.dialogLogout.cancel') }}
          </v-btn>
          <v-btn
            @click.native="logout"
            color="success"
            data-test="confirm-button"
          >
            {{ $t('loginRegister.dialogLogout.accept') }}
          </v-btn>
        </div>
      </div>
    </v-dialog>
  </div>
</template>
<script>
import { mdiAccountCircle } from '@mdi/js';
import { mapState } from 'vuex';
export default {
  name: 'LoginRegister',
  props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isLoggedIn: false,
      icons: {
        user: mdiAccountCircle
      },
      drawerData: false,
      dialogLogout: false
    };
  },
  computed: {
    ...mapState({
      username: state => state.user.userInfo.username
    })
  },
  methods: {
    register() {
      if (this.$route.path !== '/register') {
        this.$router.push({ name: 'Register' });
      }
      this.drawerData = false;
    },
    openDialogLogout() {
      this.dialogLogout = true;
    },
    closeDialogLogout() {
      this.dialogLogout = false;
    },
    logout() {
      this.dialogLogout = false;
      this.$store.dispatch('logout').then(() => {
        this.isLoggedIn = false;
        if (this.$route.path !== '/') {
          this.$router.push('/');
        }
        this.drawerData = false;
      })
      .catch(() => {
        this.isLoggedIn = true;
      });
    },
    login() {
      if (this.$route.path !== '/login') {
        this.$router.push({ name: 'Login' });
      }
      this.drawerData = false;
    },
    profile() {
      if (this.$route.name !== 'Profile' || this.$route.params.id !== this.$store.state.user.userInfo.uid) {
        this.$router.push({
          name: 'Profile',
          params: {
            id: this.$store.state.user.userInfo.uid
          } 
        });
      }
      this.drawerData = false;
    }
  },
  mounted() {
    this.$store.dispatch('loadUserInfo').then(res => {
      this.isLoggedIn = res;
    })
    .catch(() => {
      this.isLoggedIn = false;
    });
  },
  watch: {
    username: function(value) {
      if (value && value.length) {
        this.isLoggedIn = true;
      }
    },
    drawer: function(value) {
      if (value) {
        this.drawerData = value;
      }
    },
    drawerData: function(value) {
      this.$emit('changeDrawer', value);
    }
  }
};
</script>
<style lang="scss" scoped>
@media (max-width: 480px) {
  .no-mobile {
    display: none !important;
  }
  .v-navigation-drawer {
    padding-top: 1rem;
  }
  .mobile {
    display: initial !important;
  }
}
.mobile {
  display: none;
}
.no-mobile { 
  display: initial;
}
.dialog-logout {
  background-color: white;
  padding: 1rem;
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
</style>
