<template>
  <v-dialog
    v-model="dialogOpen"
    persistent
    max-width="30rem"
  >
    <div class="dialog-add-comment">
      <v-form
        ref="add-comment-form"
        v-model="valid"
      >
        <v-textarea
          :placeholder="!isAnswer ? $t('forum.comments.addCommentPlaceholder') : $t('forum.comments.addReplyPlaceholder')"
          v-model="comment"
          outlined
          :rules="commentRules"
          ref="comment"
          data-test="comment-input"
        ></v-textarea>
        <div class="dialog-add-comment__actions">
          <v-btn
            @click="closeDialog(false)"
            color="error"  
          >
            {{ $t('forum.comments.close') }}
          </v-btn>
          <v-btn
            @click="closeDialog(true)"
            color="success"
            data-test="save-comment-button"
          >
            {{ $t('forum.comments.save') }}
          </v-btn>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>
<script>
export default {
  name: 'AddComment',
  props: {
    dialogOpen: Boolean,
    isAnswer: Boolean
  },
  data() {
    return {
      valid: true,
      comment: '',
      commentRules: [
        v => !!v || this.$t('forum.comments.error')
      ]
    };
  },
  methods: {
    closeDialog(reload) {
      if (reload) {
        this.$refs['add-comment-form'].validate();
        if (this.valid) {
          const dataToEmit = {
            reload,
            comment: this.comment
          };
          this.$emit('close', dataToEmit);
          this.comment = '';
          this.$refs['add-comment-form'].resetValidation();
        }
      } else {
        this.$emit('close', { reload });
        this.comment = '';
        this.$refs['add-comment-form'].resetValidation();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.dialog-add-comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
</style>