<template>
  <div
    class="tag"
    :class="{ veg: tag === 'veg', cel: tag === 'cel', lac: tag === 'lac', none: tag === 'none' }"
    data-test="topic-tag"
  >
    {{ tag === 'none' ? $t('forum.topic.tag.none')
      : tag === 'veg' ? $t('forum.topic.tag.veg')
      : tag === 'cel' ? $t('forum.topic.tag.cel')
      : tag === 'lac' ? $t('forum.topic.tag.lac')
      : ''
    }}
  </div>
</template>
<script>
export default {
  name: 'TopicTag',
  props: {
    tag: String
  }
};
</script>
<style lang="scss" scoped>
.tag {
  padding: 0.3rem;
  width: 4rem;
  border-radius: 13px;
  font-size: 10pt;
  @media (max-width: 480px) {
    margin-right: auto;
    margin-left: 1rem;
  }
  &.none {
    background-color: #cf7033;
  }
  &.veg {
    background-color: #2aa322;
  }
  &.cel {
    background-color: #f9ad31;
  }
  &.lac {
   background-color: #2899ba;
  }
}
</style>