<template>
<v-app>
  <div id="app">
    <header-bar></header-bar>
    <keep-alive include="Forum">
      <router-view />
    </keep-alive>
    <bottom-bar class="bottom-bar"></bottom-bar>
  </div>
  <div class="background">
    <img :src="image">
  </div>
</v-app>
</template>
<script>
import HeaderBar from '@/components/header-bar/HeaderBar';
import BottomBar from '@/components/bottom-bar/BottomBar';
import background from './assets/background3.jpg';
export default {
  components: {
    HeaderBar,
    BottomBar
  },
  data() {
    return {
      image: background
    };
  }
};
</script>
<style>
#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  z-index: 2;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}
.background > img {
  width: 100%;
  height: 100%;
}
.bottom-bar {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}
@media (max-width: 480px) {
  body {
    overflow-x: hidden !important;
  }
}
</style>
